<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PaiYaCHu-About</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	</head>
	<body class="subpage">

		<!-- Header -->
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color:rgba(0, 0, 0, 0.6);">
				<div class="container">
				<!-- Navbar content -->
					<!-- .navbar-toggler 漢堡式選單按鈕 
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button> -->

					<a class="navbar-brand mx-auto" href="/">
						<img src="{{ url_for('static', filename='images/icon01.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
						<span>PaiYaCHu</span>
					</a>

					<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item font-weight-bold">
								<a class="nav-link text-primary" href="/about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/navigation">Navigation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/paper">Trip</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login">Login</a>
							</li>
						</ul>
					</div>

				</div>
			</nav>

		<!-- Three -->
			<br>
			<section id="two" class="wrapper style1 special">
				<div class="inner" >
					<header>
						<h2>Members</h2>
						<p>About</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="Person 1" />
							</div>
							<h3>楊舒翔</h3>
							<p>Web Construct</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="Person 2" />
							</div>
							<h3>陳奕翔</h3>
							<p>Neural Network Design</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="Person 3" />
							</div>
							<h3>黃聖哲</h3>
							<p>Web UI Design</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="Person 4" />
							</div>
							<h3>白立杰</h3>
							<p>Web Design</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>