<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Theory by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header"  class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:rgba(0, 0, 0, 0.6);">
				<div class="inner">
					<a href="#" class="logo">Lazy Trip</a>
					<nav id="nav">
						<a href="/login">Login</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Lazy Trip</h2>
						<p>Design Your Own Trip </p>
					</header>
					<p>你曾經為了規劃旅行而感到煩惱嗎?</p>
					<p>現在Lazy Trip可以幫助你快速規劃行程。</p>
					<p>只要選擇幾個選項，你就可以簡單設基出屬於自己的行程! </p>
				</div>
			</section>

			<section id="two" class="wrapper style1 special">
				<div class="inner" >
					<header>
						<h2>PaiYaChu</h2>
						<p>Members</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="Person 1" />
							</div>
							<h3>楊舒翔</h3>
							<p>Web Construct</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="Person 2" />
							</div>
							<h3>陳奕翔</h3>
							<p>Neural Network Design</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="Person 3" />
							</div>
							<h3>黃聖哲</h3>
							<p>Data base Construct</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="Person 4" />
							</div>
							<h3>白立杰</h3>
							<p>App Develop</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>